@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --background-color-primary: #f2f2f2;
  --background-color-dark: #0d0d0d;
  --color-primary: #0d0d0d;
  --color-dark: #f2f2f2;
  --font-Inter: "Inter", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
}

*::selection {
  color: blue;
}
