@import "tailwindcss";

@theme {
  --background-color-primary: #f2f2f2;
  --background-color-dark: #0d0d0d;
  --color-primary: #0d0d0d;
  --color-dark: #f2f2f2;
  --animate-wiggle: wiggle 1s ease 2;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(5deg) scale(0.8);
  }
  50% {
    transform: rotate(-3deg) scale(1);
  }
  75% {
    transform: rotate(5deg) scale(0.8);
  }
}

*::selection {
  color: blue;
}