@import "tailwindcss";

@theme {
  --background-color-primary: #e7e4e1;
  --background-color-dark: #121212;
  --color-primary: #121212;
  --color-dark: #f2f2f2;
  --animate-wiggle: wiggle 1s ease 2;
  --font-red-hat: var(--font-red-hat-mono), monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(5deg) scale(0.8);
  }
  50% {
    transform: rotate(-3deg) scale(1);
  }
  75% {
    transform: rotate(5deg) scale(0.8);
  }
}


*::selection {
  color: blue;
  background-color: #e7e4e1;

}


*::-webkit-scrollbar {
  background: rgb(102, 101, 101);
  border-radius: 10px;
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(102, 101, 101), white 50%);
  border-radius:  10px;
}
*::-webkit-scrollbar-corner{
  display: none;
  visibility: hidden;
}

.cursor {
  transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0) translateX(-50%)
    translateY(-50%);
  position: fixed;
  pointer-events: none;
  backdrop-filter: blur(0.8);
}

body:has(button:hover, a:hover) .cursor {
  border: white 1px solid;
  background-color: transparent;
  transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0) scale(1.2);
}
